/*
Theme Name: Structure Child
Theme URI: http://structure.thememove.com/01/
Description: A child theme of Structure Theme
Author: ThemeMove
Author URI: http://thememove.com/
Version: 1.6
Template: structure
*/
.call-to-action {
	border:none !important;
}
.call-to-action h4 {
    color: #FFF;
    font-size: 25px;
    margin-top: 10px !important;
}
.technology .content {
	padding-bottom:0px !important;
}
.project .content {
	padding-bottom:0px !important;
}
.subheading-about-us {
	color:#065266;
	font-size:15px;
}
.counting {

} 
.yellow-pages-icon {
	/*position: absolute;
	margin-top: -20px;
	margin-left: 8px;*/
	display: none;
}


/*___ General */
.ni-heading-h1 .vc_custom_heading.heading-title-3 {
    margin: 0 auto;
    display: table;
    padding-bottom: 10px;
    margin-bottom: 90px;
}

.ni-heading-h1 .vc_custom_heading.heading-title-3 h1 {
    position: relative;
	margin-top: 20px;
    font-size: 28px;
}

.ni-heading-h1 .vc_custom_heading.heading-title-3:before {
    height: 4px;
	display: none;
}

.ni-heading-h1 .vc_custom_heading.heading-title-3 h1:after {
    height: 3px;
	content: '';
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    background-color: #ffa834;
}

.certifications.align-center h3 {
	min-height: 60px;
}

.ni-2cols {
	webkit-columns: 2;
	-webkit-column-width: 400px;
	-moz-columns: 2;
	-moz-column-width: 400px;
	-ms-column-width: 400px;
	columns: 2;
	column-width: 400px;
	
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.ni_phone_link {
	pointer-events: none;
    cursor: default!important;
    color: inherit;
}


/*___ Slider */
.tp-mask-wrap {
	text-shadow: 1px 1px 5px rgba(121, 85, 72, 0.9);
}
.tp-mask-wrap>.tp-caption {
    letter-spacing: -3px!important;
}


/*___ Services-section */
.ni-s-services h2 {
	font-size: 22px;
}

.ni-service-img img {
    min-height: 72px;
    padding: 8px 0px;
}

.dark-testim p {
	color: #777;
}
.dark-testim .testimonials-list .testimonials-text {
	padding: 0;
}
.dark-testim .testimonials-list .author {
	text-align: left;
}
.centered {
	text-align: center;
}


/*___ prettyPhoto */
.pp_pic_holder.pp_default, .pp_pic_holder.pp_default .pp_content, .pp_pic_holder.pp_default .pp_content .pp_hoverContainer {
	max-width: 100%!important;
	height: auto!important;
	padding-bottom: 40px;
}

.pp_content_container .pp_right {
	padding-right: 20px!important;
}

.pp_pic_holder.pp_default .pp_content #fullResImage {
	height: auto!important;
}


@media (min-width: 601px) {
	/*___ EssentialGrids */
	#services_grid .esg-entry-media {
		max-height: 118px;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	.col-sm-3 {
		width: 33%;
	}
	
	.col-sm-9 {
		width: 66%;
	}	
}

@media (min-width: 801px) {
	h2 {
		font-size: 21px;
	}
	
	/*___ EssentialGrids */
	#services_grid .esg-entry-media {
		max-height: 163px;
	}
}

@media (min-width: 961px) {
	/*___ EssentialGrids */
	#services_grid .esg-entry-media {
		max-height: 202px;
	}
}

@media (max-width: 1100px) {
	.vc_row.wpb_row.intro4 {
		padding: 20px 0;
	}
}

@media (max-width: 800px) {
	/*Header */
	.col-md-3.col-xs-7.social {
		width: 100%;
		text-align: center;
	}
	
	/*___ Home-page */
	.home .vc_row.wpb_row.certifications {
		padding-bottom: 0!important;
		margin-bottom: -30px!important;
	}
	
	/*___ Services-page */
	.vc_column_container .wpb_column.vc_column_container.col-sm-4.col-lg-4 {
		margin-bottom: 70px;
	}
	
	/*___ Projects-page */
	.vc_row.wpb_row:not(.intro4) > .boxed {
		margin-bottom: 60px;
	}
	
	.vc_row.wpb_row > .boxed .vc_images_carousel .vc_carousel-inner, .vc_row.wpb_row > .boxed .vc_single_image-wrapper {
	    margin-bottom: 20px;
	}
	
	/*___ Contact-page */
	body.contact-page .wpb_column .wpb_column:first-child {
		margin-bottom: 70px;
	}
	
	/*___ WebCredits-page */
	.ni_logo_pmm img {
		max-width: 80%;
		margin: 5px 10% 20px!important;
	}
	
	/*___ Testimonials */
	.widget_woothemes_testimonials .owl-controls {
		margin: -40px 0 50px;
	}
	
	/*___ EssentialGrids */
	.esg-entry-content .eg-thememove-features-2-element-0-a, .esg-entry-content .eg-thememove-features-3-element-0-a {
		margin-left: 5px!important;
		margin-right: 5px!important;
	}
	
	.esg-entry-content .eg-thememove-features-2-element-15, .esg-entry-content .eg-thememove-features-3-element-15 {
		margin-left: 5px;
		margin-right: 5px;
		padding: 10px;
	}
	
	
}

@media (max-width: 600px) {
	/*___ Home-page */
	.home .vc_row.wpb_row.certifications {
		margin-bottom: -70px!important;
	}
}

@media (max-width: 450px) {
	.ni-heading-h1 .vc_custom_heading.heading-title-3 h1 {
		font-size: 23px;
	}
	
	h4 {
	    font-size: 14px!important;
	}
}

@media (max-width: 250px) {
	.entry-content {
		padding: 0 10px!important;
	}
	
	h1 {
		font-size: 20px!important;
	}
	
	h2 {
		font-size: 16px!important;
	}
	
	.intro4 h3 {
		font-size: 18px!important;
	}
	
	.vc_btn3.vc_btn3-size-lg {
		font-size: 15px;
		padding: 12px;
	}
}